<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://i.imgur.com/jcNpl29.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Quero Juntar-me!", "#juntar", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sobre Nós", "#about-us", class: "nav-link" %>
      </li>
       <li class="nav-item">
        <%= link_to "Comunidade", "#comunidade", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Donativos", "#donativos", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contactos", "#redes", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Política de Privacidade", '#privacidade', class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
